[submodule "subprojects/Forum.WebClient"]
	path = subprojects/Forum.WebClient
	url = https://github.com/danij/Forum.WebClient
	branch = master
[submodule "subprojects/Forum.Auth"]
	path = subprojects/Forum.Auth
	url = https://github.com/danij/Forum.Auth
	branch = master
[submodule "subprojects/Forum.Search"]
	path = subprojects/Forum.Search
	url = git@github.com:danij/Forum.Search.git
[submodule "subprojects/Forum.Attachments"]
	path = subprojects/Forum.Attachments
	url = git@github.com:danij/Forum.Attachments.git
